flows/Synebo_Universal_Dependent_Lookup_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Synebo Universal Dependent Lookup Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Synebo Universal Dependent Lookup Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screenSelectedDate</name>
        <label>Selected Data</label>
        <locationX>750</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgSelectedData</name>
            <fieldText>&lt;p&gt;&lt;b&gt;selectedAccountId&lt;/b&gt; = {!selectedAccountId}&lt;/p&gt;&lt;p&gt;&lt;b&gt;selectedOpportunityId&lt;/b&gt; = {!selectedOpportunityId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenSyneboDepedentLookup</name>
        <label>Synebo Depedent Lookup</label>
        <locationX>481</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screenSelectedDate</targetReference>
        </connector>
        <fields>
            <name>dependentLookup</name>
            <extensionName>l_lookup:DependentLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentObjectType</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childObjectType</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentSelectedRecordId</name>
                <value>
                    <elementReference>selectedAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentLabel</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentPluralLabel</name>
                <value>
                    <stringValue>Accounts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentPrimarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isParentRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childSelectedRecordId</name>
                <value>
                    <elementReference>selectedOpportunityId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childLabel</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childPluralLabel</name>
                <value>
                    <stringValue>Opportunities</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childPrimarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isChildRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>screenSyneboDepedentLookup</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>selectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
